<div class="d-inline-flex flex-column p-4 border rounded-3">
    <div class="dflex ">
        <p>Número de páginas</p>
        <button type="button" class="btn btn-primary">+</button>
        <input type="number">
        <button type="button" class="btn btn-primary">-</button>
    </div>
    <div class="dflex">
        <p>Número de idiomas</p>
        <button type="button" class="btn btn-primary">+</button>
        <input type="number">
        <button type="button" class="btn btn-primary">-</button>
    </div>
</div>

