
<div class="container">
    <div class="row header"></div>
    <div class="row">
        <div class="col col-md-5 col-xl-4 bg-secondary-subtle p-4">
            
            <form [formGroup]="budgetForm" needs-validation novalidate (ngSubmit)="this.save($event)">
            
                <div>
                    Client: <br/>
                    <input type="text" formControlName = "client">
                </div>
                <div *ngIf="this.clientField && this.clientField.errors && this.clientField.touched">
                    <small class="text-danger errormsg" *ngIf="this.clientField.hasError('required')">
                        A Client name is required.
                    </small> 
                    <small class="text-danger errormsg" *ngIf="this.clientField.hasError('pattern')">
                        A Client name should be of at least 3 characters.
                    </small> 
                </div>


                <div>
                    Budget Name: <br/>
                    <input type="text" formControlName = "name">
                </div>
                <div *ngIf="this.nameField && this.nameField.errors && this.nameField.touched">
                    <small class="text-danger errormsg" *ngIf="this.nameField.hasError('required')">
                        A budget name is required.
                    </small>
                    <small class="text-danger errormsg" *ngIf="this.nameField?.hasError('pattern')">
                        A Client name should be of at least 3 characters.
                    </small> 
                </div>
            


                <div class="pt-3">

                    <div>What would you like to do?</div>
                         
                    <div class="form-check pt-2">
                        <input webCheckbox 
                        formControlName = "web"
                        type="checkbox"
                        [(ngModel)] = "this.budget.web"
                        name = "web"
                        class="form-check-input"
                        value="false"
                        id="webCheck"
                        (change)="this.updatingBud()"
                        />
                        <label class="form-check-label" for="webCheck">
                            Web Site (500€)
                        </label>
                    
                    </div>
                    <div *ngIf="this.budget.web && this.budget.web === true">
                        <app-panel></app-panel>
                    </div>
                    
                    <div class="form-check pt-2">
                        <input consultoriaCheckbox 
                        formControlName = "consultoria"
                        type="checkbox"
                        [(ngModel)] = "budget.consultoria"
                        name = "consultoria"
                        class="form-check-input"
                        value="false"
                        id="consultCheck"
                        (change)="this.updatingBud()"
                        />
                        <label class="form-check-label" for="consultCheck">
                            SEO Consultancy (300€)
                        </label>
                    </div>
                    <div class="form-check pt-2">
                        <input addsCheckbox 
                        formControlName = "adds"
                        type="checkbox"
                        [(ngModel)] = "budget.adds"
                        name = "adds"
                        class="form-check-input"
                        value="false"
                        id="addsCheck"
                        (change)="this.updatingBud()"
                        
                        />
                        <label class="form-check-label" for="addsCheck">
                            Google Adds Campaign (200€)
                        </label>
                    </div>

                    <div *ngIf="this.budgetForm.hasError('noChecked')">
                        <small class="text-danger errormsg">
                            A service must be selected.
                        </small>
                    </div>

                    <div class="total pt-2">
                        <p>The budget total is: {{ this.budgetlistService.total }} €</p>
                    </div>
                
                
                    <button class="btn btn-primary" type="submit">Save Budget</button>
            
                </div>

            </form>

        </div>
        <div class="col col-md-7 col-xl-8 bg-primary-subtle p-4">
                      
                <app-budgetlist></app-budgetlist>

        </div>

    </div>
</div>
