<div class="d-inline-flex flex-column p-4 border rounded-3">
    <form class="needs-validation" novalidate>
    <div class="row">
        <p>Number of pages</p>
        
        <button type="button" class="btn btn-primary" (click)="homeService.decreasePages()">-</button>
        
        <input class="form-control border border-0" style="text-align:center;" type="number" value="1" id="pages" [(ngModel)]="homeService.pages" [formControl]="pagesCtrl">
            <p *ngIf="pagesCtrl.errors && pagesCtrl.dirty">
               <small class="text-danger" *ngIf="pagesCtrl.hasError('required')">Intoduce the number of pages</small> 
               <small class="text-danger" *ngIf="pagesCtrl.hasError('pattern')">Introduce a number in between 1 and 99</small> 
            </p>

        <button type="button" class="btn btn-primary" (click)="homeService.increasePages()">+</button>
            
            
        <i (click)="ngbModal.open(contenido)" class="bi bi-info-circle-fill mx-2" style="font-size:24px;"></i>

  
    </div>
    <div class="dflex">
        <p>Number of languages</p>
        <button type="button" class="btn btn-primary" (click)="homeService.decreaseLanguages()">-</button>
        <input class="border border-0 col-sm" style="text-align:center;" type="number" value="1" id="languages" [(ngModel)]="homeService.languages" [formControl]="languagesCtrl">
        <p *ngIf="languagesCtrl.errors && languagesCtrl.dirty">
            <small class="text-danger" *ngIf="languagesCtrl.hasError('pattern')">Introduce the number of languages</small> 
         </p>
        <button type="button" class="btn btn-primary" (click)="homeService.increaseLanguages()">+</button>
        <i (click)="ngbModal.open(contenido)" class="bi bi-info-circle-fill mx-2" style="font-size:24px;"></i>

    </div>
    </form>
</div>

<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Título Modal</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body">
        Contenido
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()">ok</button>
    </div>

</ng-template>

